* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fff;
    --bg-color-primary: rgb(248,249,250);
    --bg-color-second: rgba(237, 243, 242);

    --text-color: #000;
    --text-color-second: #fff;

    --border-color: rgb(229,231,235);
    --border-color-second: rgba(192, 218, 205);

    --shadow-color: rgb(216, 216, 216);

}

[data-theme="dark"] {
    --bg-color: #1a1e25;
    --bg-color-primary: rgb(15, 20, 25);
    --bg-color-second: #0f2121;

    --text-color: #ffffff;

    --border-color: rgb(51, 60, 75);

    --shadow-color: rgb(15, 20, 25);
}

a {
    text-decoration: none;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color-primary);
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 85px;
    z-index: 1;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border-left: solid 0.5px;
    border-color: var(--border-color);
}

.btn_tema, .btn_sair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
}

.btn_tema:hover {
    background-color: var(--bg-color-primary);
    transition: 0.2s ease;
    
}

.btn_tema img, .btn_sair img {
    width: 20px;
}


.btn_sair:hover {
    background-color: rgb(255, 126, 126);
    transition: 0.2s ease;

}


.user {
    border: none;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--bg-color-second);
    color: rgb(36, 180, 74);
    gap: 5px;
}

.user img {
    width: 20px;
}

main {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 85px;
    /* max-height: 1200px; */
}

.contaiter {
    display: flex;
    /* justify-content: center; */


}

.painelbaixo {
    display: none;
    padding: 5px 10px;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    bottom: 0;
}

.painelbaixo .botaoPainel.ativo:hover {
    background-color: #238b50;
    color: white;
}

.painelbaixo .botaoPainel:hover {
    background-color: rgb(183,214,198);
    color: #238b50;

}

.painelesquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-right: 1px solid var(--border-color);
    width: 250px;
    min-width: 250px;
    /* height: 125vh; */
    padding: 10px 0 ;
    gap: 5px;
}

.botaoPainel {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
    width: 90%;
    height: 45px;
    border-radius: 15px;
    transition: 0.1s ease;
    color: var(--text-color);
}

.botaoPainel.ativo {
    background-color: #238b50;
    color: var(--text-color-second);
    width: 92%; 
}


.painelesquerdo .botaoPainel.ativo:hover {
    background-color: #238b50;
    color: var(--text-color-second);
}

.painelesquerdo .botaoPainel:hover {
    background-color: rgb(183,214,198);
    color: #238b50;
    scale: 1.01;
}

.botaoPainel img {
    width: 25px;
    height: 25px;
}

.paineldireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
    width: 90vw;
    min-width: 30vw;
    padding: 20px 5px;
    /* gambiarra painel esquerdo encostar  na parte inferior */
    height: auto;
}


.conjunto1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65vw;
    min-width: 30vw;

}

#q1 {
    background-color: var(--bg-color-second);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    height: 110%;
    padding: 16px;
}

#q1 p{
    color: rgb(170, 176, 180);
}

#q2 {
    background-color: var(--bg-color);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    transition: 0.2s ease;
}

#q2:hover {
    box-shadow: 0px 7px 7px 0.4px var(--shadow-color);
}

.q20 img {

    width: 50px;
    height: 50px;
    background-color: var(--bg-color-second);
    border-radius: 10px;
    padding: 10px;
}

.q20 {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.q20 h1 {
    font-size: 20px;
    font-weight: 600;
}

ul {
    left: 10px;
}
.conjunto3 {
    min-width: 65vw;
    min-height: 20vh;
}

.conjunto2 {
    display: flex;
    gap: 10px; 
    width: 65vw;
    justify-content: center;
}

#q3 {
    background-color: var(--bg-color);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    width: 50%;
    min-height: 43vh;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    transition: 0.2s ease;
}


#q3:hover {
    box-shadow: 0px 7px 7px 0.4px var(--shadow-color);
}

#dia-semana {
    color: rgb(119, 122, 128);
    margin-left: 20px;
}

.q30 img {
    width: 45px;
    height: 45px;
    background-color: var(--bg-color-second);
    border-radius: 10px;
    padding: 10px;
}

.q30 {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.q30 h1 {
    font-size: 20px;
    font-weight: 600;
}

.q3030 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}


.q3030 img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.q3031 {
    background-color: var(--bg-color-primary);
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 80px;
    gap: 10px;
    transition: 0.2s ease;
}

.q3031:hover {
    background-color: var(--bg-color-second);
}

.q3031 img{
    width: 70px;
    height: 70px;
    padding: 5px;
}

#q4 {
    background-color: var(--bg-color-second);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    width: 50%;
    /* min-height: 42vh; */
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    transition: 0.2s ease;
}

#q4:hover {
    box-shadow: 0px 7px 7px 0.4px var(--shadow-color);
}

.q40 {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.q40 img {
    width: 50px;
    height: 50px;
    background-color: var(--bg-color-second);
    border-radius: 8px;
}

.q40 h1 {
    font-size: 20px;
}

.q40 p {
    font-size: 15px;
    color: rgb(107,114,128);
}

#q5 {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color); 
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    width: 65vw;
    gap: 10px;
}

#pratosDestaq {
    font-size: 20px;
}

#conjuntoImgQ5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#conjuntoImgQ5 div {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;

}

#conjuntoImgQ5 div p{
    position:absolute;
    display: none;
    z-index: 1;
    color: white;
    left: 10px;
    top: 10px;
}

#conjuntoImgQ5 img {
    width: 100%;
    top: 0;
    bottom: 0;
    transition: 0.2s ease;
    position:absolute;
}



#conjuntoImgQ5 img:hover {
    scale: 1.1;
    background-image: #000000;
}

#conjuntoImgQ5 div:hover p{
    display: flex;
}




@media (max-width: 770px) {
    .contaiter {
        flex-direction: column;
    }

    .nome_projeto{
        display: none;
    }

    .painelesquerdo {
        display: none;
    }

    .paineldireito {
        width: 100vw;
        /* height: 160vh; */
    }

    .conjunto1, .conjunto2, .conjunto3 {
        width: 90vw;
    }

    .conjunto2 {
        flex-direction: column;
    }

    #q3, #q4 {
        width: 100%;
    }

    #q3, #q4, #q5 {
        height: auto;
    }

    #q5 {
        width: 100%;
    }
    
    .botaoPainel {
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        height: auto;
        border-radius: 15px;
        margin: 0%;
    }


    #conjuntoImgQ5 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);    
        
    }

    #conjuntoImgQ5 img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .painelbaixo {
        display: flex;
        gap: 5px;
        border: 1px solid var(--border-color);
    }

    .contaiter {
        height: 1500px;
        /* max-height: 1500px; */
    }
    
}

