* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fff;
    --bg-color-primary: rgb(248,249,250);
    --bg-color-second: rgba(237, 243, 242);

    --text-color: #000;
    --text-color-second: #fff;

    --border-color: rgb(229,231,235);
    --border-color-second: rgba(192, 218, 205);

    --border-color-alert: rgb(253, 233, 198);

    --shadow-color: rgb(216, 216, 216);
    --shadow-color-second: rgb(194, 194, 194);

    --bg-img-lupa: ;
    --bg-img-alerta: rgb(253, 238, 212);
    --bg-img-alerta-second: rgb(252, 228, 186);
    --bg-img-arquivo: ;

}

[data-theme="dark"] {
    --bg-color: #1a1e25;
    --bg-color-primary: rgb(15, 20, 25);
    --bg-color-second: #0f2121;

    --text-color: #ffffff;

    --border-color: rgb(51, 60, 75);
    --border-color-alert: rgb(74, 58, 32);

    --shadow-color: rgb(15, 20, 25);
    --shadow-color-second: rgb(15, 20, 25);

    --bg-img-lupa: ;
    --bg-img-alerta: rgb(59, 50, 34);
    --bg-img-alerta-second: rgb(86, 66, 30);
    --bg-img-arquivo: ;
}

a {
    text-decoration: none;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color-primary);
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



header {
    position: fixed;
    width: 100%;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    height: 85px;
    z-index: 1;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-user {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border-left: solid 0.5px;
    border-color: var(--border-color);
}

.btn_tema, .btn_sair {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
}

.btn_tema:hover {
    background-color: var(--bg-color-primary);
    transition: 0.2s ease;
    
}

.btn_tema img, .btn_sair img {
    width: 20px;
}


.btn_sair:hover {
    background-color: rgb(255, 126, 126);
    transition: 0.2s ease;

}


.user {
    border: none;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--bg-color-second);
    color: rgb(36, 180, 74);
    gap: 5px;
}

.user img {
    width: 20px;
}

main {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 85px;
    /* max-height: 1200px; */
}

.contaiter {
    display: flex;
}

.painelbaixo {
    display: none;
    padding: 5px 10px;
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    bottom: 0;
}

.painelbaixo .botaoPainel.ativo:hover {
    background-color: #238b50;
    color: white;
}

.painelbaixo .botaoPainel:hover {
    background-color: rgb(183,214,198);
    color: #238b50;

}

.painelesquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-right: 1px solid var(--border-color);
    width: 250px;
    min-width: 250px;
    /* height: 125vh; */
    padding: 10px 0 ;
    gap: 5px;
}

.botaoPainel {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
    width: 90%;
    height: 45px;
    border-radius: 15px;
    transition: 0.1s ease;
    color: var(--text-color);
}

.botaoPainel.ativo {
    background-color: #238b50;
    color: var(--text-color-second);
    width: 92%; 
}


.painelesquerdo .botaoPainel.ativo:hover {
    background-color: #238b50;
    color: var(--text-color-second);
}

.painelesquerdo .botaoPainel:hover {
    background-color: rgb(183,214,198);
    color: #238b50;
    scale: 1.01;
}

.botaoPainel img {
    width: 25px;
    height: 25px;
}

.paineldireito {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%; 
    width: 90vw;
    margin-top: 30px;
    padding: 5px;

    /* gambiarra painel esquerdo encostar  na parte inferior */
    height: 110vh;
}

.conjunto1 {
    min-width: 65vw;
    background-color: var(--bg-color-second);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    padding: 30px;
}

.conjunto1 h1 {
    color: var(--text-color);
}

.conjunto1 p {
    color: rgb(93, 120, 129);
}

.conjunto2 {
    display: flex;
    gap: 10px; 
    width: 65vw;
    justify-content: center;
}

.conjunto2 h1 {
    color: var(--text-color);
}

.minicontainer-conjunto2 {
    background-color: var(--bg-color);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    width: 50%;
    padding: 20px;
    padding-top: 30px;
    min-height: 18vh;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
    transition: 0.2s ease;
}

.minicontainer-conjunto2:hover {
    box-shadow: 0px 7px 7px 0.4px var(--shadow-color);
}

#ajuste {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minicontainer-conjunto2 img {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-color-second);
}

#img-attenction {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bg-img-alerta); 
}

.minicontainer-conjunto2 p {
    color: rgb(140, 144, 151);
}

.conjunto3 {
    min-width: 65vw;
    /* min-height: 20vh; */
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    padding: 25px;
    gap: 20px;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
}

#minicontainer-conjunto3 {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: var(--bg-img-alerta); 
    border-radius: 10px;
    border: 0.5px solid var(--border-color-alert); 
    gap: 20px;
    transition: 0.2s ease;
}

#minicontainer-conjunto3:hover {
    box-shadow: 0px 3px 5px 0px var(--shadow-color-second);
}

#minicontainer-conjunto3 img {
    background-color: var(--bg-img-alerta-second); 
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#titulo-conjunto3 {
    color: var(--text-color); 
    font-size: 20px;
}

#titulo-alerta {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

#frase-alerta {
    color: rgb(124, 135, 146);
}

.conjunto4 {
    display: flex;
    flex-direction: column;
    width: 65vw;

    background-color: var(--bg-color);
    border: solid var(--border-color) 1px;
    border-radius: 15px;
    padding: 30px;
    gap: 10px;
    box-shadow: 0px 3px 5px 0px var(--shadow-color);
}

.conjunto4 h1 {
    color: var(--text-color);
    font-size: 20px;
}

.conjunto4-imagens h2 {
    color: var(--text-color);
    font-size: 15px;
}

.conjunto4-imagens p {
    font-size: 15px;
    color: rgb(122,128,141);
}

.conjunto4-imagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.conjunto4-imagens img {
    width: 100%;
    max-height: 220px;
    top: 0;
    bottom: 0;
    transition: 0.2s ease;
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.conjunto4-imagens img:hover {
    transform: translateY(-10px);
}


@media (max-width: 900px) {
    .contaiter {
        flex-direction: column;
    }

    .nome_projeto{
        display: none;
    }

    .painelesquerdo {
        display: none;
    }

    .paineldireito {
        width: 100vw;
        height: 160vh;
    }
    
    .conjunto1, .conjunto2, .conjunto3, .conjunto4 {
        width: 90vw;
    }

    .painelbaixo {
        display: flex;
        gap: 5px;
        border: 1px solid rgb(229,231,235);
    }

    .botaoPainel {
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        height: auto;
        border-radius: 15px;
        margin: 0%;
    }

    .conjunto2 {
        flex-direction: column;
    }

    .conjunto4-imagens {
        display: flex;
        
    }

    .minicontainer-conjunto2 {
        width: 100%;
    }
    
    .contaiter {
        height: 1500px;
        /* max-height: 1500px; */
    }

}


@media (max-width: 600px) {
    .conjunto4-imagens {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .conjunto4-imagens img {
        max-height: auto;
    }
}