{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nutricionista/alunos/css/style.css' %}">
    <title>NutriSafe IFCE</title>
</head>

<body>

    <header>
        <div class="header-left">

            <div class="logo">
                <img src="{% static 'aluno/inicio/img/tema_claro/header/foto_devcore_verde-removebg-preview.png' %}" width="50px" height="50px">
            </div>

            <div class="container-nome-projeto">
                <div>
                    <h1>RAME</h1>
                </div>
                <div>
                    <p class="nome_projeto" style="color: rgb(122,128,141);">Rede Alimentar de Monitoramento Estudantil</p>
                </div>
            </div>

        </div>

        <div class="header-right">

            <button class="btn_tema" id="btn-decoracao">
                <img class="img_tema" src="{% static 'aluno/inicio/img/tema_claro/header/moon-svgrepo-com.svg' %}" alt="">
            </button>

            <div class="menu-user">

                <div class="user">
                    <img src="{% static 'aluno/inicio/img/tema_claro/header/user-alt-1-svgrepo-com.svg' %}" alt="">
                    <p>Nutricionista</p>
                </div>

                
            </div>

            <a class="btn_sair" href="/">
                <img class="img_sair" src="{% static 'aluno/inicio/img/tema_claro/header/logout-svgrepo-com.svg' %}" alt="">
            </a>

        </div>
    </header>

    <main>
        <div class="contaiter">

            <div class="painelesquerdo">

                <a class="botaoPainel" href="inicio_nutricionista" id="inicio">
                    <img class="img_casa" src="{% static 'nutricionista/inicio/img/tema-escuro/painel-esquerdo/houseWhite.png' %}" alt="">
                    <p>Início</p>
                </a>

                <a class="botaoPainel ativo" href="alunos_nutricionista" id="restricoes">
                    <img class="img_alerta people" src="{% static 'nutricionista/inicio/img/tema-claro/painel-esquerdo/people.png' %}" alt="">
                    <p>Alunos</p>
                </a>

                <a class="botaoPainel" href="gerenciar_cardapio_nutricionista" id="cardapio">
                    <img class="img_cardapio forkSkife" src="{% static 'nutricionista/inicio/img/tema-claro/painel-esquerdo/forkSkife.svg' %}" alt="">
                    <p>Gerenciar Cardápio</p>
                </a>

            </div>

            <div class="paineldireito">

                <div class="conjunto1">

                    <div id="q1">
                        <h1 id="titulo-q1">Gerenciamento de Alunos</h1>
                        <p>Visualize e gerencie as restrições alimentares dos alunos</p>
                    </div>

                    <div id="q2">
                        
                        <div id="input-div"><img src="{% static 'nutricionista/alunos/img/tema-claro/outros/lupa.png' %}" alt=""><input id="input-q2" type="text" placeholder="Buscar por nome ou matrícula..."></div>

                    </div>

                    <div id="q3">
                        <table id="tabela">
                            <tr id="tabela-principal">
                                <th>Nome</th>
                                <th>Matricula</th>
                                <th>Restrições Alimentares</th>
                            </tr>
                            <tr id="conteudo-principal">
                                <td><p id="td1">Ana Silva Santos</p></td>
                                <td><p id="td2">20241001</p></td>
                                <td><p id="td3">Lactose</p></td>
                            </tr>
                        </table>
                    </div>
                    

                </div>

            </div>

            <div class="painelbaixo">

                <a class="botaoPainel" href="inicio_nutricionista" id="inicio">
                    <img class="img_casa" src="{% static 'nutricionista/inicio/img/tema-escuro/painel-esquerdo/houseWhite.png' %}" alt="">
                    <p>Início</p>
                </a>

                <a class="botaoPainel ativo" href="alunos_nutricionista" id="restricoes">
                    <img class="img_alerta people" src="{% static 'nutricionista/inicio/img/tema-claro/painel-esquerdo/people.png' %}" alt="">
                    <p>Alunos</p>
                </a>

                <a class="botaoPainel" href="gerenciar_cardapio_nutricionista" id="cardapio">
                    <img class="img_cardapio forkSkife" src="{% static 'nutricionista/inicio/img/tema-claro/painel-esquerdo/forkSkife.svg' %}" alt="">
                    <p>Gerenciar Cardápio</p>
                </a>

            </div>

        </div>
    </main>
    <script src="{% static 'js_tema/script.js' %}"></script>
</body>

</html>